h1{
    font-family: 'Cabin', sans-serif;
    font-size: large;
    text-align: center;
}

body{
    font-family: 'Cabin', sans-serif;
    width: 250px;
    height: 100px;
    background-color: #282a36;
    color: #f8f8f2;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8f8f2;
    font-size: small;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f8f8f2;
    font-size: small;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #f8f8f2;
    font-size: small;
  }

#search_bar{
    border: 0px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 20px;
    width: 75%;
    padding: 2px 23px 2px 5px;
    outline: 0;
    background-color: #6272a4;;
    color: #f8f8f2;
}

#main{
    border-radius: 25px;
    border-style: groove;
    border: 1px;
    background-color: #82EECC;
    color: #f8f8f2;

}

#submit{
    border-radius: 0, 25px, 0 ,0;
    border: 1px;
    background-color: #6272a4;
    color: #f8f8f2;
}
#top_bar{
    background-color: #084C61;
    color: #f8f8f2;
    width: 100%;
    padding: 0,0,0,0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;

}

#search_element{
    position: fixed;
    top: 50px;
    left: 0;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #6272a4;
    color: #f8f8f2;
}

#radio_buttons{
    position: fixed;
    top: 75px;
    left: 0;
}